.register-service {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.username4,
.username5 {
  font-family: var(--font-poppins);
  position: relative;
  color: var(--dark-gray);
  text-align: left;
}
.username4 {
  cursor: pointer;
  align-self: stretch;
  font-size: var(--text-large-size);
  line-height: 22px;
}
.username5 {
  border: 0;
  font-size: var(--text-medium-size);
  background-color: transparent;
  flex: 1;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inputfield30 {
  align-self: stretch;
  border-radius: var(--default-border-raius);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 1px solid var(--accent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
}
.formpart12,
.input-field-base30 {
  display: flex;
  flex-direction: column;
}
.input-field-base30 {
  width: 340px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.formpart12 {
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-5xs);
  gap: var(--gap-5xs);
}
.registration-id3 {
  border: 0;
  font-family: var(--font-poppins);
  font-size: var(--text-large-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 22px;
  color: var(--dark-gray);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  gap: var(--gap-xl);
}
.submit {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-family: var(--font-poppins);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: center;
}
.submitbutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-base);
  background-color: var(--accent);
  border-radius: var(--br-xl);
  width: 110px;
  height: 62px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.submitbutton:hover {
  background-color: var(--color-royalblue-100);
}
.healthserviceregistration,
.registerservicesection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registerservicesection {
  justify-content: flex-start;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.healthserviceregistration {
  position: relative;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 100%;
  height: auto;
  min-height: 864px;
  overflow: hidden;
  justify-content: space-between;
}
@media screen and (max-width: 820px) {
  .registerservicesection {
    align-items: center;
    justify-content: center;
    padding-top: 0;
    box-sizing: border-box;
  }
  .healthserviceregistration {
    height: auto;
    min-height: 864px;
    gap: var(--gap-xl);
  }
}
