.inputvalue-date-div {
  align-self: stretch;
  border-radius: var(--default-border-raius);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 1px solid var(--accent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
}
.inputsection-date-div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.information-text {
  text-align: center;
  margin: 10px;
  position: relative;
  font-size: var(--text-large-size);
  line-height: 24px;
  color: var(--dark-gray);
  font-family: var(--font-poppins);
}
.button2 {
  position: relative;
  font-size: var(--text-large-size);
  line-height: 20px;
  font-family: var(--font-poppins);
  color: white;
  text-align: center;
}
.button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-base);
  background-color: var(--accent);
  border-radius: var(--br-xl);
  overflow: hidden;
}
.button1:hover {
  background-color: var(--color-royalblue-100);
}

.healthserviceorders {
  position: relative;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 100%;
  height: auto;
  height: auto;
  min-height: 864px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 820px) {
  .healthserviceorders {
    height: auto;
    min-height: 864px;
  }
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
  font-family: var(--font-poppins);
  align-items: center;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}
