.dashboard {
  position: relative;
  font-size: var(--text-large-size);
  line-height: 24px;
  font-family: var(--text-small);
  color: var(--accent);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dashboardsection {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.profileicon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.profilesection {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl);
  background-color: transparent;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.dashboard-bar1,
.dashboardiconsection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-bar1 {
  margin: 0;
  border-radius: var(--br-5xs);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  flex-direction: row;
}
.dashboardiconsection {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-9xl);
  height: 46px;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 68px;
}
.profileiconsection {
  max-width: 68px;
}
.consultdoctoriconsection,
.profileiconsection {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-3xs);
  background-color: transparent;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 68px;
}
.dashboard-bar-icon {
  border-radius: var(--br-9xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 1px solid var(--color-black);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.dashboard-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
@media screen and (max-width: 820px) {
  .dashboard-bar1 {
    display: none;
  }
  .dashboard-bar-icon {
    display: flex;
  }
}
